#
# System files
#
*~
*.diff
*.patch
._*
.buildpath
.bower.json
.DS_Store
.DS_Store?
.project
.settings
.sizecache.json
.Spotlight-V100
thumbs.db
Thumbs.db
.Trashes


#
# Built files
#

/content/themes/*/css/*.min.css
/content/themes/*/js/*.min.js

#
# Other files
#

*.psd
bower_components
node_modules
/local.php
/content/themes/*/
/content/themes/*/inc
/content/plugins/*/
.htaccess

#
# Re-include used themes and non-wpackagist plugins
#

!/content/themes/theme-here/
!/content/plugins/non-wpackagist-plugin-here/